<!DOCTYPE html>
<html>
  <head>
    <title>MississippiRecords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <ul>
            <%= current_user.username if current_user %>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
          </ul>
        </div>
        <div class="col-sm-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
