<!DOCTYPE html>
<html>
  <head>
    <title>MississippiRecords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-nav-bar">
      <div class="container">
        <ul>
          <li>Mississippi Records</li>
          <li><%= link_to current_user.username, edit_user_registration_path if current_user %></li>
          <li><%= link_to "My Cart (#{current_order.order_items.count})", cart_path if user_signed_in? %></li>
          <li><%= link_to "Log In", new_user_session_path if !user_signed_in? %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, :method => "delete" if user_signed_in? %></li>
        </ul>
      </div>
    </div>
    <div class="my-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">

            <div class="my-nav">
              <ul>
                <li><%= link_to "Catalog", catalog_path %></li>
                <li><%= link_to "How To Use This Site", how_to_use_this_site_path %></li>
                <li><%= link_to "About Us", about_us_path %></li>
                <li><%= link_to "Links", links_path %></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-9">
            <% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
            <% end %>
            <% if flash[:alert] %>
            <p class="alert"><%= flash[:alert] %></p>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
